/* =======================================
   codebreaker base styles
======================================= */

@import url(http://fonts.googleapis.com/css?family=VT323);

/* ---------------------------------------
   --color palette --
   play area:   #fef4b1 (yellow)
   info text:   #aa2fac (violet)
   background:  #dadada (grey)
   stats bg:    #85d923 (green)
   stats txt:   #020600 (black)
--------------------------------------- */

/* ---------------------------------------
   global
--------------------------------------- */
* {
  border: 0;
  border-collapse: collapse;
  background-repeat: no-repeat;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: top;
}

/* ---------------------------------------
   layout
--------------------------------------- */
body {
  background-color: #dadada;
  -webkit-text-size-adjust:none;
}

#page {
  background-color: #fef4b1;
  min-height: 700px;
  margin: 0 auto 0 auto;
  width: 700px;
}

header {
  height: 72px;
  padding-top: 20px;
  width: 700px;
}

#main {
  min-height: 596px;
  padding: 0 40px 20px 40px;
  width: 620px;
}

footer {
  height: 52px;
  width: 700px;
}

#menu {
  text-align: center;
}

#content {
  padding: 0 24px 0 24px;
}

/* ---------------------------------------
   typography
--------------------------------------- */
p, ul, li, label, input, h1 {
  color: #aa2fac;
  font: 48px/48px VT323;
  text-align: left;
  text-transform: uppercase;
}

.ctr {
  text-align: center;
}

.smaller-type p {
  color: #aa2fac;
  font: 20px/20px VT323;
  margin-bottom: 12px;
  text-align: left;
  text-transform: uppercase;
}

p.flamer {
  animation: flame 4s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
  -webkit-animation: flame 4s;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  color: #aa2fac;
}
  @keyframes flame {
    0%    {color: #aa2fac;}
    25%   {color: #85d923;}
    50%   {color: #00ffff;}
    75%   {color: #ff00ff;}
    100%  {color: #ffff00;}
  }

  @-webkit-keyframes flame {
    0%    {color: #aa2fac;}
    25%   {color: #85d923;}
    50%   {color: #00ffff;}
    75%   {color: #ff00ff;}
    100%  {color: #ffff00;}
  }

/* ---------------------------------------
   form fields
--------------------------------------- */
input {
  background-color: #fef4b1;
  border: solid 2px #aa2fac;
  text-align: center;
  width: 144px;
}

/* ---------------------------------------
   graphical
--------------------------------------- */
.button {
  border-top: 4px solid #aa2fac;
  border-right: 2px solid #aa2fac;
  border-left: 2px solid #aa2fac;
  border-bottom: 4px solid #aa2fac;
  display: inline-block;
  padding: 4px 8px 4px 4px;
}

.hide {
  height: 0;
  visibility: hidden;
}

.show {
  min-height: 44px;
  visibility: visible;
}