@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400);

/* ====================================
   global
==================================== */

$font_main: 'Source Sans Pro', sans-serif;

$clr_bg: #f1f1f1;
$clr_border: #b2b2b2;
$clr_main_font: #fff;

$keys_bg: #000;
$keys_bg_con: #000;
$keys_con_clr: #00b9ff;
$keys_border: #333;
$keys_active: #00ff00;

* {
  border: 0;
  background-repeat: no-repeat;
  border-collapse: collapse;
  font-family: $font_main;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* ====================================
   primary layout spaces
==================================== */
body {
  background-color: $clr_bg;
  padding: 5px;
}

.container {
  background-color: $keys_bg;
  background-image: url('../img/99882.gif');
  background-repeat: repeat;
  border: 1px solid $clr_border;
  border-radius: 5px;
  min-height: 420px;
  margin: 0 auto;
  max-width: 502px;
  overflow: hidden;
  padding: 0 !important;
}

header {
  height: 50px;
  padding: 0 0 0 10px;
  width: 100%;
}

#main {
  min-height: 320px;
  margin: 0 auto;
  padding: 10px;
  width: 100%;
}

footer {
  height: 50px;
  left: 0;
  padding: 0 0 0 10px;
  position: relative;
  top: 0;
  width: 100%;
}

/* ====================================
   info / game rules
==================================== */
#rules {
  background-color: $keys_bg;
  border: solid 1px $clr_main_font;
  border-radius: 5px;
  max-width: 485px;
  margin: 0 auto;
  opacity: .88;
  padding: 10px;
  position: relative;
  bottom: 410px;
  visibility: hidden;
  /*z-index: 9999;*/

}

#info_exit {
  color: $clr_main_font;
  cursor: pointer;
  float: right;
  height: 23px;
  margin: 4px;
  width: 23px
}

/* ====================================
   keypad
==================================== */
#keypad {
  height: 310px;
  margin: 0 auto;
  padding: 0 !important;
  width: 240px;
}

#console_readout,
#keypad_panel {
  background-color: $keys_bg_con;
  border: solid 1px $keys_border;
  border-radius: 3px;
  height: 290px;
  margin: 0 auto;
  width: 180px;
}

#keys_readout {
  height: 42px;
  margin: 5px auto 0 auto;
  position: relative;
  top: 0;
  width: 180px;
}

#player_input {
  height: 242px;
  margin: 0 auto;
  position: relative;
  top: 0;
  width: 180px;

  .key, #enter {
    background-color: $keys_bg_con;
    border-top: solid 1px $keys_border;
    border-left: solid 1px $keys_border;
    cursor: pointer;
    height: 57px;
    position: relative;
    bottom: 8px;
    width: 57px;
  }

  .side {
    border-left: none;
  }

  input:focus {
    display: none;
  }

}

/* ====================================
   console
==================================== */
#console {
  height: 290px;
  margin: 0 auto 0 auto;
  padding: 0;
  width: 240px;
}

#console_guesses {
  height: 260px;
  padding-top: 15px;
  width: 180px;
}

#console_messages {
  height: 23px;
  width: 180px;
}

#status {
  left: 40px;
  height: 260px;
  width: 180;
}

/* ====================================
   footer buttons
==================================== */
#info,
#src,
#play_again {
  background-color: $keys_bg;
  border: 1px solid $keys_border;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  margin: 10px 10px 0 0;
  width: 100px;
}

#play_again {
  visibility: hidden;
}

/* ====================================
   dynamic
==================================== */
.show {
  visibility: visible;
}

.hide {
  visibility: hidden;
}

li {
  list-style: none;
}

/* ====================================
   typography
==================================== */
.title {
  color: $clr_main_font;
  font-size: 20px;
  letter-spacing: 1px;
}

.footer-text {
  color: $clr_main_font;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

input {
  color: $keys_con_clr;;
  font: 24px/24px $font_main;
}

.console_txt {
  color: $keys_con_clr;;
  font: 32px/46px $font_main;
  letter-spacing: 3px;
  padding:0 15px 0 0;
  text-align: right;
}

#status li {
  color: $keys_con_clr;
  font: 22px/22px $font_main;
  letter-spacing: 3px;
  padding-left: 35px;
  text-align: left;
}

#console_messages {
  color: $keys_active;
  font: 22px/22px $keys_active;
  text-align: center;

}

.key_act {
  color: $keys_active;
}

#rules>p,
#rules>ul>li {
  color: $clr_main_font;
}