@import url(http://fonts.googleapis.com/css?family=VT323);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

/* ====================================
   global
==================================== */

$font_main: 'Source Sans Pro', sans-serif;
$font_console: 'VT323', sans-serif;

$clr_bg: #f1f1f1;
$clr_border: #b2b2b2;
$clr_main_font: #262626;

$keys_bg: #000f20;
$keys_bg_con: #000f20;
$keys_con_clr: #00aeef;
$keys_type: #b2b2b2;


* {
  border: 0;
  background-repeat: no-repeat;
  font-family: $font_main;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* ====================================
   primary layout spaces
==================================== */
body {
  background-color: $clr_bg;
  padding: 5px;
}

.container {
  background-color: #fff;
  /*background-image: url('../img/99882.res');*/
  background-repeat: repeat;
  border: 1px solid $clr_border;
  border-radius: 5px;
  min-height: 420;
  margin: 0 auto;
  max-width: 502px;
  overflow: hidden;
  padding: 0 !important;
}

header {
  height: 50px;
  padding: 0 0 0 10px;
  width: 100%;
}

#main {
  min-height: 320px;
  margin: 0 auto;
  padding: 10px;
  width: 100%;
}

footer {
  height: 50px;
  left: 0;
  padding: 0 0 0 10px;
  position: relative;
  top: 0;
  width: 100%;
}

/* ====================================
   info / game rules
==================================== */
#rules {
  background-color: #000f20;
  bottom: 465px;
  color: #fff;
  display: none;
  height: 542px;
  left: 0;
  margin: 0 auto 0 auto;
  opacity: .9;
  position: relative;
  visibility: hidden;
  width: 655px;
  z-index: 99;

}

#info_exit {
  cursor: pointer;
  height: 23px;
  left: 640px;
  margin: 4px;
  position: relative;
  width: 23px

}

/* ====================================
   keypad
==================================== */
#keypad {
  height: 310px;
  margin: 0 auto;
  padding: 0 !important;
  width: 240px;
}

#keys_readout {
  background-color: $keys_bg_con;
  color: $keys_con_clr;
  height: 42px;
  margin: 5px auto 0 auto;
  position: relative;
  top: 0;
  width: 180px;
}

#player_input {
  background-color: $keys_bg_con;
  height: 242px;
  margin: 0 auto;
  position: relative;
  top: 0;
  width: 180px;

  .key, #enter, input {
    background-color: $keys_bg_con;
    border-top: solid 1px #333;
    border-left: solid 1px #333;
    cursor: pointer;
    height: 58px;
    position: relative;
    bottom: 12px;
    width: 58px;
  }

  input:focus {
    display: none;
  }

}

/* ====================================
   console
==================================== */
#console {
  background-color: yellow;

  height: 290px;
  margin: 0 auto;
  width: 240px;
}

#console_readout {
  background-color: #000f20;
  height: 242px;
  overflow: hidden;
  width: 180px;
}

#console_messages {
  height: 23px;
  left: 20px;
  position: absolute;
  top: 403px;
  width: 239px;

}

#status {
  left: 40px;
  height: 366px;
  position: relative;
  top: 20px;
  width: 239px;

}
/* ====================================
   footer buttons
==================================== */
#info {
  border: 1px solid $clr_border;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
  left: 0;
  position: relative;
  top: 0;
  width: 70px;
}

#src {
  border: 1px solid $clr_border;
  border-radius: 5px;
  bottom: 40px;
  cursor: pointer;
  height: 40px;
  margin-left: 80px;
  position: relative;
  width: 70px;
}

#play_again {
  border: 1px solid $clr_border;
  border-radius: 5px;
  bottom: 80px;
  cursor: pointer;
  height: 40px;
  margin-left: 160px;
  position: relative;
  visibility: hidden;
  width: 90px;
}

/* ====================================
   dynamic
==================================== */
.show {
  visibility: visible;
}

.hide {
  visibility: hidden;
}

li {
  list-style: none;
}

/* ====================================
   typography
==================================== */
.title {
  color: $clr_main_font;
  font-size: 20px;
  letter-spacing: 1px;
}

.footer-text {
  color: $clr_main_font;
  font-size: 14px;
  line-height: 34px;
  text-align: center;
}

.console_txt {
  color: $keys_type;
  font: 34px/42px $font_console;
  padding:0 15px 0 0;
  text-align: right;
}

