/* FOR DEVELOPMENT ONLY */

/* ====================================
   global
==================================== */
* {
  border: 0;
  border-collapse: collapse;
  background-repeat: no-repeat;
  font-family: sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: top;
}

/* ====================================
   layout
==================================== */

#page {
  border: 1px solid #000;
  height: 658px;
  margin: 44px auto 44px auto;
  width: 723px;
}

header {
  height: 66px;
  width: 723px;
}

#main {
  background-color: aliceblue;
  left: 44px;
  height: 465px;
  position: relative;
  top: 44px;
  width: 635px;
}

footer {
  bottom: 465px;
  height: 40px;
  left: 0;
  position: relative;
  width: 723px;
}

/* ====================================
   info / game rules
==================================== */
#rules {
  background-color: #fff;
  bottom: 465px;
  height: 542px;
  left: 0;
  margin: 5px;
  position: relative;
  visibility: hidden;
  width: 713px;
  z-index: 99;
}

#info_exit {
  border: solid 1px #000;
  cursor: pointer;
  float: right;
  height: 23px;
  margin: 4px;
  width: 23px
}

/* ====================================
   keypad
==================================== */
#keypad {
  background-color: #fff;
  border: solid 1px #000;
  height: 465px;
  left: 0;
  position: relative;
  top: 0;
  width: 295px;
}

#keys_readout {
  background-color: cyan;
  height: 91px;
  left: 8px;
  position: relative;
  top: 27px;
  width: 125px;
}

form {
  height: 449px;
  left: 8px;
  position: relative;
  right: 118px;
  top: 0;
  width: 279px;
}

.key, #enter {
  border: solid 1px #000;
  cursor: pointer;
  height: 83px;
  margin: 2px 0 2px 0;
  width: 83px;
}

/* ====================================
   console
==================================== */
#console {
  background-color: #fff;
  border: solid 1px #000;
  left: 339px;
  height: 465px;
  position: relative;
  bottom: 467px;
  width: 295px;
}

#console_readout {
  left: 8px;
  height: 449px;
  position: relative;
  overflow: hidden;
  top: 8px;
  width: 279px;
}

#console_messages {
  background-color: aliceblue;
  height: 23px;
  left: 20px;
  position: absolute;
  top: 403px;
  width: 239px;
}

#feedback {
  background-color: aliceblue;
  display: inline-table;
  left: 20px;
  height: 366px;
  position: relative;
  top: 20px;
  width: 239px;
}

/* ====================================
   footer buttons
==================================== */
#info {
  cursor: pointer;
  height: 40px;
  left: 0;
  position: relative;
  top: 0;
  width: 70px;
}

#src {
  bottom: 40px;
  cursor: pointer;
  height: 40px;
  margin-left: 80px;
  position: relative;
  width: 70px;
}

#play_again {
  bottom: 80px;
  cursor: pointer;
  height: 40px;
  margin-left: 160px;
  position: relative;
  visibility: hidden;
  width: 180px;
}

/* ====================================
   dynamic
==================================== */
.show { visibility: visible; }

.hide { visibility: hidden; }
