/* =======================================
   codebreaker base styles
======================================= */

/* ---------------------------------------
   colors style guide
   bg         :  #ecf0d5
   light blue :  #59aad5
   dark blue  :  #3e7795
   green      :  #59d568
--------------------------------------- */

/* ---------------------------------------
   global
--------------------------------------- */
* {
  border: 0;
  border-collapse: collapse;
  background-repeat: no-repeat;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: top;
}

/* ---------------------------------------
   layout
--------------------------------------- */
body {
  /*background-color: #f4f4f4;*/
  /*background-color: #b4b4b4;*/
  background-color: #cbcbcb;
}

#page {
  background-color: #ecf0d5;
/*  box-shadow: 0 0 20px #ccc;*/
/*  border: 2px solid #59aad5;*/
  border-radius: 5px;
  height: 658px;
  margin: 44px auto 44px; auto;
  overflow: visible;
  width: 723px;
}

header {
  background-color: #59aad5;
  background-image: url(../img/cb_header.png);
  background-position: 355px 15px;
  height: 66px;
  text-indent: -9999px;
  width: 723px;
}

#main {
/*  background-color: magenta;
  opacity: .1;*/

  left: 44px;
  height: 465px;
  position: relative;
  top: 44px;
  width: 635px;
}

#keypad {
  background-color: #fff;
  height: 465px;
  width: 295px;
}

#console_readout {
  background-color: #fff;
  left: 339px;
  height: 465px;
  position: relative;
  bottom: 465px;
  width: 295px;

}

#rules {
  background-color: #000;
  background-image: url(../img/cb_instructions.png);
  background-position: 10px 30px;
  float: left;
  height: 542px;
  margin: 5px;
  opacity: .8;
  text-indent: -9999px;
  width: 713px;
}

footer {
  background-color: #59aad5;
  height: 40px;
  left: 0;
  position: relative;
  text-indent: -9999px;
  top: 87px;
  width: 723px;
}

/* ---------------------------------------
   buttons
--------------------------------------- */
#info {
  background-image: url(../img/cb_ftr_info.png);
  background-position: 10px 8px;
  bottom: 87px;
  float: left;
  height: 40px;
  position: relative;
  width: 70px;
}

#info_exit {
  background-image: url(../img/cb_button_x.png);
  float: right;
  height: 23px;
  margin: 4px;
  text-indent: -9999px;
  width: 23px
}

#src {
  background-image: url(../img/cb_ftr_src.png);
  background-position: 14px 14px;
  bottom: 87px;
  float: left;
  height: 40px;
  margin-left: 45px;
  position: relative;
  width: 70px;
}

#play_again {
  background-image: url(../img/cb_ftr_play.png);
  background-position: 14px 8px;
  bottom: 87px;
  float: left;
  height: 40px;
  margin-left: 45px;
  position: relative;
  width: 180px;
}

/* ---------------------------------------
   interactive
--------------------------------------- */
.hide {
  height: 0;
  visibility: hidden;
}

.show {
  visibility: visible;
}