/* =======================================
   codebreaker base styles
======================================= */

/* ---------------------------------------
   colors style guide
   bg         :  #ecf0d5
   light blue :  #59aad5
   dark blue  :  #3e7795
   green      :  #59d568
--------------------------------------- */

/* ---------------------------------------
   global
--------------------------------------- */
* {
  border: 0;
  border-collapse: collapse;
  background-repeat: no-repeat;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: top;
}

/* ---------------------------------------
   layout
--------------------------------------- */
body {
  background-color: #fff;
}

#page {
  background-color: #ecf0d5;
/*  box-shadow: 0 0 20px #ccc;*/
/*  border: 5px solid #59aad5;*/
  border-radius: 5px;
  height: 658px;
  margin: 45px auto 45px; auto;
  overflow: hidden;
  width: 723px;
}

header {
  background-color: #59aad5;
  background-image: url(../img/cb_header.png);
  background-position: 355px 15px;
  height: 66px;
  text-indent: -9999px;
  width: 723px;
}

#main {
/*  background-color: magenta;
  opacity: .1;*/

  left: 44px;
  height: 465px;
  position: relative;
  top: 44px;
  width: 635px;
}

#rules {
  text-indent: -9999px;
}

footer {
  background-color: #59aad5;
  height: 40px;
  left: 0;
  position: relative;
  text-indent: -9999px;
  top: 88px;
  width: 723px;
}

/* ---------------------------------------
   buttons
--------------------------------------- */
#info {
  background-image: url(../img/cb_ftr_info.png);
  background-position: 10px 8px;
  float: left;
  height: 40px;
  width: 70px;
}

#src {
  background-image: url(../img/cb_ftr_src.png);
  background-position: 14px 14px;
  float: left;
  height: 40px;
  margin-left: 45px;
  width: 70px;
}

#play_again {
  background-image: url(../img/cb_ftr_play.png);
  background-position: 14px 8px;
  float: left;
  height: 40px;
  margin-left: 45px;
  width: 180px;
}


/* ---------------------------------------
   interactive
--------------------------------------- */
.hide {
  height: 0;
  visibility: hidden;
}

.show {
  visibility: visible;
}